#!/usr/bin/make -f

# newer dpkg set this by default.
DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# Include dpatch stuff.
include /usr/share/dpatch/dpatch.make

include /usr/share/dpkg/pkg-info.mk
DEB_CODENAME := $(shell lsb_release -sc)

%:
	    dh $@ --with dpatch,autotools_dev

override_dh_auto_configure:
	./configure \
		--prefix=/usr \
		--enable-ssl \
		--with-ssl-lib=/usr/lib/$(DEB_HOST_MULTIARCH) \
		--sysconfdir=/etc \
		--localstatedir=/var \
		--libexecdir=/usr/lib/nagios/plugins \
		--libdir=/usr/lib/nagios \
		--enable-command-args

override_dh_auto_install:

override_dh_gencontrol:
	dh_gencontrol -- -v$(DEB_VERSION)+$(DEB_CODENAME)
